/*
 * App
 */

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

.wrapper {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  text-align: center;
  background-color: #282c34;
  padding: 20px;
  display: block;
  color: white;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

.app-mobile {
  font-size: 14px;
}

.app-desktop {
  font-size: 28px;
}

/*
 * Selector
 */

.selector {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
}

.dropdown-label {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.dict-select {
  border: 1px solid var(--select-border);
  border-radius: 5px;
  cursor: pointer;
  background-color: #505050;
  color: white;
  display: flex;
  text-align-last: center;
  padding: 5px;
  font-size: inherit;
}

.checkbox-label {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  gap: 10px;
}

.app-mobile .checkbox-label {
  font-size: 12px;
}

.checkbox {
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 18px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin: 0 15px 0 0;
}

.checkbox:active,
.checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

.checkbox:checked:after {
  content: '\2714';
  position: absolute;
  top: 0px;
  left: 6px;
  color: #99a1a7;
}

.selected-word {
  width: 100px;
  text-align: center;
}

/*
 * Playing desktop
 */

.playing-container {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  align-content: flex-start;
  height: 100%;
}

.left-container {
  flex-grow: 2;
  overflow-y: scroll;
  scrollbar-width: none;
  margin: auto;
  height: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.top-info {
  flex: 1 0;
  margin: 0 180px 0 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.back-button {
  margin: 50px 0 0 50px;
  width: 80px;
}

.all-patterns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0px;
  row-gap: 0px;
}

.recommendation {
  width: 400px;
  text-align: left;
}

.recommendation-box {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

/*
 * Playing mobile
 */

.playing-container-mobile {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  align-content: stretch;
  height: 100%;
}

.body-mobile-container {
  scrollbar-width: none;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
}

.thinking-container-outer-mobile {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
}

.top-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.top-info-mobile {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.selected-word-mobile {
  text-align: center;
  width: 50px;
}

/*
 * Pattern box
 */

.pattern-box {
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  border-radius: 5px;
}

.pattern-box:hover {
  background-color: #505050;
}

.pattern-box-mobile {
  display: flex;
  flex-direction: row;
  margin: 5px;
  border-radius: 5px;
}

.cell {
  width: 40px;
  height: 60px;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.cell-mobile {
  width: 20px;
  height: 30px;
  margin: 3px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

/*
 * Other
 */

.correct-position {
  background-color: green;
}

.correct-letter {
  background-color: orange;
}

.incorrect {
  background-color: gray;
}

.red-button {
  background-color: red;
  padding: 10px 17px;
  border-radius: 10px;
  user-select: none;
  display: inline-block;
}

.info {
  font-size: 14px;
}

table {
  width: 220px;
}

td,
th,
table {
  text-align: left;
  border: 1px solid #555;
  border-collapse: collapse;
  font-size: 14px;
  font-weight: normal;
  table-layout: fixed;
}

td,
th {
  padding: 5px;
}

th {
  text-align: center;
}

tr:hover {
  background-color: #505050;
}

.guess-cell {
  width: 40px;
  height: 18px;
}

.avg-guess-cell {
  width: 50px;
  height: 18px;
}

.max-depth-cell {
  width: 40px;
  height: 18px;
}

.worst-guesses-cell {
  width: 40px;
  height: 18px;
}

.search-depth-cell {
  width: 90px;
  height: 18px;
}

.thinking-container {
  display: flex;
  flex-direction: column;
  padding: 50px 30px 0 0;
  align-items: center;
  flex-shrink: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}

.search-depth {
  font-size: 14px;
  padding: 5px;
  width: 190px;
}

.instructions {
  margin: 10px;
}
